.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
  text-underline-offset: 3px;
}

.header__menu {
}

.header__links-list {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  list-style-type: circle;
}

.header__links-list-item {
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 135px;
  height: 100px;
}

.header__logo-image {
}

.address {
  max-width: 240px;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  padding: 160px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title {
  position: relative;
  z-index: 1;
  /* font-weight: 700; */
  font-size: 100px;
  line-height: 133px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.letter-spacing-extended {
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; 
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}

.cover__description-text {
  z-index: 1;
  word-spacing: 18.5px;
}

.bet-button {
  all: unset;
  cursor: pointer;
  background: transparent;
  padding: 12px 32px 11px 32px;
  border: 1px solid #fff;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0px;
  background-size: cover;
  background: #000;
  background-position: center;
  opacity: 0.6;
}

.lots {
  padding: 180px 24px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  padding-left: 40px;
}

.lots__card-list {
  all: unset;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 48px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  z-index: 1;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  z-index: 1;
}

.lots__look-more-link {
  padding: 6px 0 0 40px;
  font-size: 20px;
}

.about {
  display: grid;
  padding: 120px 24px 0px 24px;
  grid-template-columns: 334px 1fr;
}

.about__column {
}

.about__column-left {
  display: flex;
  justify-content: center;
}

.about__column-right {
  padding: 0 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-top: 136px;
  margin-bottom: 100px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 180px 50px;
}

.footer .address {
  max-width: 264.57px;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 3px;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
  color: #000;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
}

.footer__menu-link {
  font-size: 18px;
  text-align: center;
  color: #000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
}

.footer__social-link {
}

.footer__social-icon {
  width: 48px;
}
